body{
                background-image:url(mbg.jpg) ;
                background-repeat: no-repeat;
                background-size: 1550px 1000px;
            }
		p{
			font-size:29px;}
		BUTTON{
      font-size: 30px; 
TEXT-ALIGN:CENTER;}
h1{
                color: red;
            }